
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="section--title">
    <h3>DANH SÁCH NHÓM THUỘC TÍNH</h3>
</div>
<div class="box-bordertop">
    <div class="row justify-content-end">
        <a class="p-2 bg-success text-white" id="btnCreate">
            <i class="fa fa-plus"></i>
            <span>Thêm mới</span>
        </a>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Tên nhóm</th>
                <th class="text-center">Mô tả</th>
                <th class="text-center">Chức năng</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content container">
            <form enctype="multipart/form-data" id="form" method="post">
                <h2 class="text-center m-2">NHÓM THUỘC TÍNH</h2>
                <input id="hiddenvalue" hidden type="text" value="" />
                <div class="errorTxt" id="errorTxt"></div>
                <div class="form-group">
                    <label class="control-label">Tên nhóm</label>
                    <input class="form-control" id="tenNhom" name="tenNhom" />
                </div>
                <div class="form-group">
                    <label class="control-label">Mô tả</label>
                    <textarea class="form-control" rows="3" id="moTa" name="moTa" ></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" id="btnSubmit">Lưu lại</button>
                    <button type="button" class="btn btn-danger" id="btnClose" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="notification">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thông báo</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="notiMessenger"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnConfirm">Xác nhận</button>
                <button type="button" class="btn btn-danger" id="btnClose" data-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            LoadDataList();
        });
        function LoadDataList() {
            $.ajax({
                url: '/Admin/NhomThuocTinh/DanhSach',
                type: 'GET',
                success: function (data) {
                    if (data.code == 200) {
                        let stt = 0;
                        $.each(data.danhsach, function (key, value) {
                            stt = stt + 1;
                            let tr = '<tr id="' + value.id + '">';
                            tr += '<td class="text-center">' + stt + '</td>';
                            tr += '<td>' + value.tenNhom + '</td>';
                            tr += '<td>' + value.moTa + '</td>';
                            tr += '<td class="text-center">'
                            tr += '<a id="btnEdit"><i class="fa fa-edit text-primary mr-2"></i></a>';
                            tr += '<a id="btnDelete"><i class="fa fa-trash text-danger"></i></a>';
                            tr += '</td>'
                            tr += '</tr>'
                            $('#table-body').append(tr);
                        });
                    }
                }
            });
        };
        function ThongBao(messenger) {
            $("#notiMessenger").empty();
            $("#notiMessenger").append(messenger);
            $("#btnConfirm").hide();
            $("#notification").modal();
        };
        function ResetForm() {
            $("#tenNhom").val('');
            $("#moTa").val('');
        };

        $('#btnSubmit').click(function () {
            let hiddenvalue = $('#hiddenvalue').val();

            let tenNhom = $('#tenNhom').val().trim();
            let moTa = $('#moTa').val().trim();

            let formData1 = new FormData();
            formData1.append('tenNhom', tenNhom);
            formData1.append('moTa', moTa);

            let formData2 = new FormData();
            formData2 = formData1;
            formData2.append('id', hiddenvalue);

            if ($("#form").valid()) {
                if (hiddenvalue.length == 0) {
                    //Thêm mới
                    $.ajax({
                        url: '/Admin/NhomThuocTinh/TaoMoi',
                        type: 'post',
                        data: formData1,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.code == 200) {
                                ResetForm();
                                $('#table-body').empty();
                                $('#btnClose').click();
                                ThongBao(data.msg);
                                LoadDataList();
                            } else {
                                $('#btnClose').click();
                                ThongBao(data.msg);
                            }
                        }
                    });
                }
                else if (hiddenvalue.length != 0) {
                    //Chỉnh sửa
                    $.ajax({
                        url: '/Admin/NhomThuocTinh/ChinhSua',
                        type: 'PUT',
                        data: formData2,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            if (data.code == 200) {
                                $('#table-body').empty();
                                $('#btnClose').click();
                                ThongBao(data.msg);
                                LoadDataList();
                            } else {
                                $('#btnClose').click();
                                ThongBao(data.msg);
                            }
                        }
                    })
                }
            }


        });
        $(document).on('click', "a[id='btnCreate']", function () {
            $('#hiddenvalue').val(''); // Hidden id
            $("#modal").modal();
            ResetForm();
        });
        $(document).on('click', "a[id='btnEdit']", function () {
            let id = $(this).closest('tr').attr('id');
            $('#hiddenvalue').val(id);
            ResetForm();

            $.ajax({
                url: '/Admin/NhomThuocTinh/LayID',
                type: 'GET',
                data: { id: id },
                success: function (data) {
                    $('#tenNhom').val(data.data.tenNhom);
                    $('#moTa').val(data.data.moTa);
                    $("#modal").modal();
                }
            });
        });
        $(document).on('click', "a[id='btnDelete']", function () {
            let id = $(this).closest('tr').attr('id');
            var noti = confirm("Bạn có muốn xóa không?");
            if (noti == true) {
                $.ajax({
                    url: '/Admin/NhomThuocTinh/XoaBo',
                    type: 'delete',
                    data: { id: id },
                    success: function (data) {
                        if (data.code === 200) {
                            $('#table-body').empty();
                            LoadDataList();
                            ThongBao(data.msg);
                        }
                        else ThongBao(data.msg);
                    }
                })
            } else {
                alert("You pressed Cancel!");
            }
        });
    </script>
}
